/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Global Styles */

body {
    margin-top: 45px;
    background-color: #fff;
}

@media (min-width:768px) {
    body {
        margin-top: 40px;
    }
}

.h1,
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h2,
.h3,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 97%;
    line-height: 110%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
    padding: 5px 0px 0px;
    margin: 0px;
}

.form-inline .form-control {
    /*width:auto;*/
}

.form-inline .form-group {
    display: inline-block;
}

.nowrap {
    white-space: -moz-nowrap;
    /* Firefox */
    white-space: -o-nowrap;
    /* Opera */
    white-space: nowrap;
    /* Chrome */
    word-wrap: break-word;
    /* IE */
}

.table .text {
    position: relative;
}

.table .text span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
}

.text:before {
    content: '';
    display: inline-block;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.nopadding {
    padding: 0;
}


/* Tables */

table {
    font-size: 14px;
}

.table {
    background-color: #fcfcfc;
    margin-top: 0px;
    margin-bottom: 0px;
}

.table th {
    font-weight: bold
}

.table thead>tr>th {
    border-color: #eee;
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444
}

.table thead>tr>th,
.table tbody>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tbody>tr>td,
.table tfoot>tr>td {
    border-color: #eee;
    padding: 5px 5px 5px 10px;
    vertical-align: top
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: rgb(250, 250, 250)
}

.table-bordered thead th:first-child {
    border-left: 0
}

.table-bordered tbody tr {
    border-left: 0;
    border-right: 0
}

.table tbody tr td .progress {
    margin: 0
}

.table>tbody>tr {
    background: white
}

.table-bordered>tr>td {
    border-left: 0;
    border-right: 0;
}

.form-table tbody tr td:first-child {
    background-color: rgb(250, 250, 250);
    font-weight: bold;
    border-color: #eee;
    color: #444
}

.panel-buttons {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: -2px;
}

.form-textarea {
    width: 100%;
    min-width: 100%;
    resize: vertical;
    overflow: auto;
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 10px;
    }
}

.navbar-brand {
    float: left;
    padding: 12px 15px;
    font-size: 22px;
    line-height: 21px;
    height: 45px;
    font-weight: 400;
}


/* Top Navigation */

.navbar {
    border: none;
    font-size: 14px;
    font-weight: 300;
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}


/* Side Navigation */

@media (min-width:768px) {
    .side-nav {
        position: fixed;
        top: 45px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a {
        width: 225px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #000;
}

.breadcrumb {
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.alert {
    font-size: 14px;
    font-weight: 300;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.panel-heading {
    padding: 10px 9px;
}
